.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 20px 0px;
  height: 100vh;
  background-color: #eee;
}

.App h2 {
  font-size: 3.2rem;
  color: rgb(145, 85, 253);
}

.App button.btn {
  background: rgb(145, 85, 253);
  color: #fff;
  border: 1px solid rgb(145, 85, 253);
}
.App .main-container {
  width: 100%;
  height: 100vh;
  padding: 40px 0px;
}

.App .online-clipboard-wrapper {
  width: 50%;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 2px #ddd;
}

.App .online-clipboard-wrapper .nav-tabs .nav-item button.nav-link.active {
  background-color: rgb(145, 85, 253);
  color: #fff;
}

.App .online-clipboard-wrapper .nav-tabs .nav-item button.nav-link {
  background-color: #fff;
  color: #888;
  border-radius: 0px;
  border: 1px solid #fff;
  margin: 0;
}

.App .copy-button {
  border: 0px;
  background-color: #bbb;
  border-radius: 4px;
  color: #fff;
}

@media screen and (max-width: 900px) {
  .App h2 {
    font-size: 2.8rem;
    color: rgb(145, 85, 253);
  }
  .App .online-clipboard-wrapper {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .App h2 {
    font-size: 2.2rem;
    color: rgb(145, 85, 253);
  }
  .App .online-clipboard-wrapper {
    width: 90%;
  }
}
