.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 20px 0px;
  height: 100vh;
  background: url("./assets/bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  animation: animateBg 5s linear infinite;
}

@keyframes animateBg {
  100% {
    filter: hue-rotate(360deg);
  }
}
.App .wrapper {
  padding: 10px;
  width: 50%;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: transparent;
  backdrop-filter: blur(15px);
}
.App h2 {
  font-size: 3.2rem;
  color: #fff;
}

.App p {
  color: #fff;
}

.App button.btn {
  background: #87ceeb;
  color: #fff;
  border: 1px solid #87ceeb;
}
.App .main-container {
  width: 100%;
  height: 100vh;
  padding: 40px 0px;
}

.App .online-clipboard-wrapper {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.App .online-clipboard-wrapper .nav-tabs .nav-item button.nav-link.active {
  background-color: #87ceeb;
  color: #fff;
}

.App .online-clipboard-wrapper .nav-tabs .nav-item button.nav-link {
  background-color: #fff;
  color: #888;
  border-radius: 0px;
  border: 1px solid #fff;
  margin: 0;
  padding: 4px 0px;
  width: 90px;
  font-size: 12px;
}

.App .copy-button {
  border: 0px;
  background-color: #bbb;
  border-radius: 4px;
  color: #fff;
}
.App input {
  border: 0;
}
.App input:focus {
  box-shadow: none;
  outline: 0;
  border: 0;
}
@media screen and (max-width: 900px) {
  .App .wrapper {
    width: 70%;
  }
  .App h2 {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 500px) {
  .App .wrapper {
    width: 98%;
  }

  .App h2 {
    font-size: 1.6rem;
  }
}
